<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=[% settings.charset %]" />
<title>MusicDb</title>
<link rel="stylesheet" href="[% request.uri_base %]/css/style.css" />
<link rel="stylesheet" href="[% request.uri_base %]/css/kendo.black.min.css" />
<link rel="stylesheet" href="[% request.uri_base %]/css/dot-luv/jquery-ui-1.10.3.custom.css" />
<link rel="stylesheet" href="[% request.uri_base %]/css/common.css" />
<link rel="stylesheet" href="[% request.uri_base %]/css/menu1.css" />


<script type="text/javascript" language="javascript" src="[% request.uri_base %]/javascripts/jquery-1.9.1.js"></script>
<script type="text/javascript" language="javascript" src="[% request.uri_base %]/javascripts/jquery-ui-1.10.3.custom.js"></script>
<script type="text/javascript" language="javascript" src="[% request.uri_base %]/javascripts/jquery-ui-1.10.3.custom.min.js"></script>
<script type="text/javascript" language="javascript" src="[% request.uri_base %]/javascripts/kendo.web.min.js"></script>

</head>
<body>
    <div id="container">
        <div id="logo">
			<img src="[% request.uri_base %]/images/logo.png">
		</div>
        <div id="menu">
       [% INCLUDE menu.tt %]     

    
            
        </div>
        <div class="wrapper">
            
            [% content %]
    
        </div>
    </div>
<div id="footer">
Powered by <a href="http://perldancer.org/">Dancer</a> [% dancer_version %]
</div>
</body>
</html>
