<div id="tabs">
    <ul>
        [% FOREACH tab IN options.tabs %]
            <li><a href="#[% tab.dom_id %]">[% tab.title %]</a></li>
        [% END %]
    </ul>
    [% FOREACH tab IN options.tabs %]
        <div id="[% tab.dom_id %]">
            [% tab.content %]
        </div>
    [% END %]
</div>

<script>
    //$(document).ready(function() {
      $('#tabs').tabs();
    //});
</script>